spring:
  jpa:
    hibernate:
      ddl-auto: update
    database: mysql
    generate-ddl: true
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
    show-sql: true

  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PWD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  redis:
    port: ${REDIS_PORT}
    host: ${REDIS_HOST}

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

  jackson:
    property-naming-strategy: SNAKE_CASE

jwt:
  header: ${JWT_HEADER}
  prefix: ${JWT_PREFIX}
  secretKey: ${JWT_SECRET_KEY}
  accessExp: ${JWT_ACCESS_EXP}
  refreshExp: ${JWT_REFRESH_EXP}

aws:
  ses:
    baseEmail: ${AWS_SES_BASE_EMAIL}
    accessKey: ${AWS_SES_ACCESS}
    secretKey: ${AWS_SES_SECRET}
    region: ${AWS_SES_REGION}

cloud:
  aws:
    s3:
      bucket: ${AWS_S3_BUCKET}
    region:
      static: ${AWS_S3_REGION}
    stack:
      auto: false
    credentials:
      access-key: ${AWS_S3_ACCESS}
      secret-key: ${AWS_S3_SECRET}

